.disableShadow-btn{
    margin-top: 3rem;
    display: flex;
    gap: 6rem;
    .disableShadow-norm{
        display: flex;
        flex-direction: column;
        > code {
           font: 400 12px $code_font;
           color: $gray7;
        }
        > button {
            height: 36px;
            width: 81px;
            border: none;
            background-color: $blue2;
            color: $white;
            font-size: 14px;
            margin-top: 16px;
            border-radius: 6px;
           
        }
    }
}


.disabled-btns{
    margin-top: 3rem;
    display: flex;
    gap: 8rem;
    .disabled-norm{
        display: flex;
        flex-direction: column;
        > code {
           font: 400 12px $code_font;
           color: $gray7;
        }
        > button {
            height: 36px;
            width: 81px;
            border: none;
            background-color: $gray1;
            color: $gray2;
            font-size: 14px;
            margin-top: 16px;
            border-radius: 6px;
            transition: all .3s;
            &:hover{
                background-color: $white;
            }
        }
    }

    .disabled-fh{
        display: flex;
        flex-direction: column;
        > code {
            font: 400 12px $code_font;
           color: $gray4;
        }
        > button {
            height: 36px;
            width: 81px;
            border: none;
            background-color:$white;
            color: $gray2;
            font-size: 14px;
            margin-top: 16px;
            border-radius: 6px;
    
        }
    }
}