$base_font: 'Montserrat', sans-serif;
$primery_font: 'Poppins', sans-serif;
$secondary_font: 'Noto Sans JP', sans-serif;
$code_font: 'Ubuntu Mono', monospace;

$lightest_gray: #FAFBFD;
$gray1: #E0E0E0;
$gray2: #9E9E9E;
$gray3: #AEAEAE;
$gray4: #828282;
$gray5: #4F4F4F;
$gray6: #3F3F3F;
$gray7: #333333;

$white: #ffff;
$orange_clr: #F7542E;
$balck: #000000;
$darkest_blue: #090F31;

$lightest_blue: #2962FF1A;
$blue1: #2962FF;
$blue2: #3D5AFE;
$dark_blue: #0039CB;

$red: #D32F2F;
$dark_red: #9A0007;

$ocean: #455A64;
$dark_ocean: #1C313A;
